* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* font-family: "Source Sans Pro", sans-serif; */
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
}
.flex-container {
  display: flex;
  height: 100vh;
}
.small-icon {
  color: white;
  font-size: 20px;
}
.large-icon {
  color: #7a7a7a;
}

.bigger-text {
  font-size: 30px;
}

.header {
  /* width: 100vw; */
  width: 200px;
  box-sizing: border-box;
  /* min-height: 100px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* padding-top: 60px; */
  padding-right: 20px;
  height: 100%;
  background-color: rgba(4, 4, 122, 0.377);
}

.header__nav {
  /* height: 60px; */
  /* width: 1100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* padding-bottom: 30px; */
  /* border-bottom: 1px solid #7a7a7a60; */

  font-weight: lighter;
  font-family: "Pompiere", cursive;
}

.header__social {
  margin-top: 100px;
}

.title {
  font-size: 30px;
  font-weight: normal;
  /* color: rgba(4, 4, 122, 0.514); */
  color: white;
}

.header__nav .sub-section {
  display: flex;
  flex-direction: column;
  /* color: #7a7a7a; */
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 35px;
  border: none;
}

.main {
  max-width: 1300px;
  max-height: 100vh;
  margin: auto;

  overflow-y: scroll;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.project__img {
  height: 500px;
  width: auto;
}
.social-header {
  text-decoration: none;
  margin: 5px;
  font-size: 10px;
}
.social {
  color: #363636;
  font-size: 2.5em;
  text-decoration: none;
  margin: 20px;
}

.social__icon {
  transition: 0.4s;
}

.social__icon:hover {
  color: rgba(4, 4, 122, 0.671);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
